/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', monospace;
  font-weight: bold;
  background: var(--background);
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  display: grid;
  block-size: 100vh;
  max-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }
}

.decorated-zone::before {
  position: absolute;
  content: '';
  display: block;
  block-size: 24px;
  inline-size: 24px;
  border-block-start: 1.5px solid var(--solid-color);
  border-inline-end: 1.5px solid var(--solid-color);
  margin: 10px 10px 0 339.5px; 
}

@media (width >= 768px) {
  .decorated-zone::before {
    margin: 20px 10px 0 723px;
  }
}

@media (width >= 1024px) {
  .decorated-zone::before {
    margin: 20px 20px 0 979px; 
  }
}

.decorated-zone::after {
  position: absolute;
  content: '';
  display: block;
  block-size: 24px;
  inline-size: 24px;
  border-block-end: 1.5px solid var(--solid-color);
  border-inline-start: 1.5px solid var(--solid-color);
  margin: 634px 339.96px 49px 10px;
}

@media (width >= 768px) {
  .decorated-zone::after {
    margin: 980px 339.96px 9.2px 20px;
  }
}

@media (width >= 1024px) {
  .decorated-zone::after {
    margin: 723px 339.96px 60px 20px;
  }
}

.header__decorated-element {
  position: absolute;
  justify-self: end;
  color: var(--accent-color);
  font-size: var(--size-text);
  padding-block-start: 10px;
}

@media (width >= 768px) {
  .header__decorated-element {
    padding-block-start: 20px;
  }
}

@media (width >= 1024px) {
  .header__decorated-element {
    padding-block-start: 20px;
  }
}

.header__decorated-element::after {
  content: url(../images/spot.svg);
  vertical-align: 6%;
  filter: drop-shadow(0 0 2px var(--accent-color));
  padding-inline-start: 10px; 
  padding-inline-end: 19px;
}

@media (width >= 768px) {
  .header__decorated-element::after {
    padding-inline-end: 29px;
  }
}

@media (width >= 1024px) {
  .header__decorated-element::after {
    padding-inline-end: 29px;
  }
}

.header__theme-menu {
  align-self: center;
  max-block-size: 98px;
  margin-block-start: 9px;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 18px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    margin-block-start: 0;
  }
}

.header__theme-menu-list {
  display: grid;
  justify-items: end;
  gap: 10px;
  padding-inline-start: 0;
  margin: 0 11px 0 0; 
}

@media (width >= 768px) {
  .header__theme-menu-list {
    margin: 0 20px 0 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    margin: 0;
  }
}

.header__theme-menu-item {
  list-style-type: none; 
}

.header__theme-menu-button {
  text-transform: lowercase;
  letter-spacing: 1px;
  min-inline-size: 68px;
  min-block-size: 26.3px;
  background-color: transparent;
  border: none;
  color: var(--solid-color);
  font-size: var(--size-text);
}

.header__theme-menu-button:hover {
  outline: 1.5px solid var(--frame-color);
}

.header__theme-menu-button:focus {
  outline: none; 
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1.5px solid; 
}

.header__theme-menu-button_active {
  outline: 1.5px solid;
  pointer-events: none; 
}

.title {
  color: var(--color-title);
  font-size: var(--size-header);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  max-height: 192px;
  margin: 0 0 0 10px;
}

@media (width >= 768px) {
  .title {
    font-size: var(--size-header);
    min-height: 99px;
    letter-spacing: 0.1px;
    margin: 0 0 0 1px;
  }
}

@media (width >= 1024px) {
  .title {
    font-size: var(--size-header);
    min-height: 130px;
    letter-spacing: 0;
    margin: 0 0 0 1px;
  }
}

.subtitle-container {
  align-self: center;
  margin-block-end: 10px;
}

@media (width >= 768px) {
  .subtitle-container {
    margin-block-end: 20px;
  }
}

.subtitle-decor {
  background-color: var(--accent-color);
  color: var(--color-subtitle);
  font-size: var(--size-text);
  line-height: 23.4px;
  margin: 0 10px;
}

@media (width >= 768px) {
  .subtitle-decor {
    margin: 0 20px 0 0;
  }
}

@media (width >= 1024px) {
  .subtitle-decor {
    margin: 0 20px 0 0;
  }
}

@media (width >= 768px) {
  .subtitle-decor-less {
    max-inline-size: 364px;
    margin-left: 385px;
  }
}

@media (width >= 1024px) {
  .subtitle-decor-less {
    max-inline-size: 491px;
    margin-left: 515px;
  }
}

.sections {
  min-block-size: 5435px;
}

@media (width >= 768px) {
  .sections {
    min-block-size: 3802px;
  }
}

@media (width >= 1024px) {
  .sections {
    min-block-size: 3472px;
  }
}

.section {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .content-section {
    grid-template-columns: 1fr 492px;
  }
}

@media (width >= 1024px) {
  .content-section {
    grid-template-columns: 1fr 669px;
  }
}

@media (width >= 1024px) {
  .content-sections {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: 315px 315px 315px;
  }
}

h2 {
  margin: 0; 
}

.subtitle-decor-question {
  color: var(--solid-color);
  font-size: var(--size-text);
  line-height: 24px;
  margin: 0 10px 0 10px; 
}

@media (width >= 768px) {
  .subtitle-decor-question {
    max-inline-size: 236px;
    margin: 0 0 0 20px;
  }
}

@media (width >= 1024px) {
  .subtitle-decor-question {
    max-inline-size: 315px;
    margin: 0 0 0 20px;
  }
}

.question-offset-less {
  margin-top: 40px;
}

@media (width >= 768px) {
  .question-offset-less {
    margin-top: 60px;
  }
}

@media (width >= 768px) {
  .subtitle-decor-content-offset-medium {
    margin-block-start: 60px;
  }
}

.description {
  color: var(--color-description);
  font-size: var(--size-text);
  font-weight: normal;
  line-height: 23.5px;
  margin: 10px 10px 0 10px; 
}

@media (width >= 768px) {
  .description {
    margin: 10px 20px 0 0; 
  }
}

@media (width >= 1024px) {
  .description {
    margin: 10px 19px 19px 0; 
  }
}

.research {
  color: var(--color-description);
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
  text-decoration: none; 
}

.research:hover {
  border-block-end: 1.5px solid var(--color-description); 
}

.research:focus {
  outline: none; 
}

.research:focus-visible {
  outline: 1.5px solid var(--color-description); 
}

.subtitle-decor-content-offset-less {
  margin-block-start: 19px;
}

.question-offset-more {
  margin-top: 46px;
}

@media (width >= 768px) {
  .question-offset-more {
    margin-top: 77px;
  }  
}

@media (width >= 1024px) {
  .question-offset-more {
    margin-top: 60px;
  }  
}

@media (width >= 768px) {
  .subtitle-decor-inline-offset {
    margin-inline-start: 20px;
  }
}

@media (width >= 1024px) {
  .subtitle-decor-inline-offset {
    margin-inline-start: 20px;
  }
}

@media (width >= 1024px) {
  .subtitle-decor-inline-offsets {
    margin: 0;
  }
}

@media (width >= 768px) {
  .description-inline-offset {
    margin-inline-start: 20px;
  }
}

@media (width >= 1024px) {
  .descriptions {
    inline-size: 315px;
    margin: 10px 0 19px 0; 
  }
}

@media (width >= 1024px) {
  .subtitle-decor-content-no-offset {
    margin-block-start: 0;
  }
}

@media (width >= 768px) {
  .subtitle-decor-content-offset-more {
    margin-block-start: 78px;
  }
}

@media (width >= 1024px) {
  .subtitle-decor-content-offset-more {
    margin-block-start: 59px;
  }
}

.subtitle-decor-faq {
  background-color: var(--accent-color);
  color: var(--color-subtitle);
  font-size: var(--size-text);
  font-weight: normal;
  margin: 19px 10px 0 10px; 
}

@media (width >= 768px) {
  .subtitle-decor-faq {
    margin: 20px 20px 0 0; 
  }
}

@media (width >= 1024px) {
  .subtitle-decor-faq {
    margin: 20px 20px 0 0; 
  }
}

.gallery-offset {
  gap: 15px;
}

@media (width >= 768px) {
  .gallery-offset {
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .gallery-offset {
    gap: 20px;
  }
}

.gallery .gallery__item {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  grid-auto-flow: dense; 
  list-style: none; 
  padding: 0;
  margin: 0 10px;
} 

@media (width >= 768px) {
  .gallery .gallery__item {
    max-inline-size: 983px;
    margin-inline-start: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    grid-auto-flow: dense;
    margin-inline-end: 20px; 
  }
}

@media (width >= 1024px) {
  .gallery .gallery__item {
    max-inline-size: 97.5vw;
    margin-inline-start: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    grid-auto-flow: dense;
    margin-block-start: 0;
  }
}

@media (width >= 768px) {
  .gallery__item {
    max-block-size: 780px;
  }
}

@media (width >= 1024px) {
  .gallery__item {
    max-block-size: 1048px;
  }
}

@media (width >= 768px) {
  .gallery .gallery__item .image:first-child {
    grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  .gallery .gallery__item .image:first-child {
    grid-column-start: span 2;
  }
}

.image:first-child {
  max-block-size: 142px;
}

@media (width >= 768px) {
  .image:first-child {
    max-block-size: 192px;
  }
}

@media (width >= 1024px) {
  .image:first-child {
    max-block-size: 260px;
  }
}

@media (width >= 768px) {
  .gallery .gallery__item .image:nth-child(2) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .gallery .gallery__item .image:nth-child(2) {
    grid-row-start: span 2;
  }
}

.image:nth-child(2n) {
  max-block-size: 355px; 
}

@media (width >= 768px) {
  .image:nth-child(2) {
    max-block-size: 441px;
  }
}

@media (width >= 1024px) {
  .image:nth-child(2) {
    max-block-size: 595px;
  }
}

@media (width >= 768px) {
  .gallery .gallery__item .image:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .gallery .gallery__item .image:nth-child(3) {
    grid-row-start: span 2;
  }
}

.image:nth-child(2n+3) {
  max-block-size: 237px; 
}

@media (width >= 768px) {
  .image:nth-child(3) {
    max-block-size: 568px;
  }
}

@media (width >= 1024px) {
  .image:nth-child(3) {
    max-block-size: 768px;
  }
}

@media (width >= 768px) {
  .image:nth-child(4) {
    max-block-size: 230px;
  }
}

@media (width >= 1024px) {
  .image:nth-child(4) {
    max-block-size: 315px;
  }
}

@media (width >= 768px) {
  .gallery .gallery__item .image:nth-child(5) {
    grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  .gallery .gallery__item .image:nth-child(5) {
    grid-column-start: span 2;
  }
}

@media (width >= 768px) {
  .image:nth-child(5) {
    max-block-size: 318px;
  }
}

@media (width >= 1024px) {
  .image:nth-child(5) {
    max-block-size: 428px;
  }
}

.gallery .gallery__item .image img {
  block-size: 100%;
  object-fit: cover;
}

@media (width >= 768px) {
  .gallery .gallery__item .image img {
    inline-size: 100%;
    object-fit: cover;
  }
}

@media (width >= 1024px) {
  .gallery .gallery__item .image img {
    inline-size: 100%;
    object-fit: cover;
  }
}

.footer {
  display: grid;
  block-size: 100vh;
  max-block-size: 668px;
}

@media (width >= 768px) {
  .footer {
    max-block-size: 0;
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    max-block-size: 0;
    min-block-size: 768px;
  }
}

.title-shadow-offset {
  text-shadow: 2.5px 2.5px 0 var(--accent-color); 
}

.title-align {
  align-self: center;
  justify-self: center;
  margin-left: 0;
}